---
import Scenarium from "../components/Scenarium.tsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="font-bold text-4xl uppercase">Astro</h1>
		<div class="border border-[red] h-screen">
			<span>SCENE</span>
		</div>
	</body>
</html>
../components/Experience